* {
    box-sizing: border-box;
}

:root {
    --primary: #FF7597;
    --secondary: #FF0266;
}

body {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    background-color: black;
    color: white;
    font-family: mc;
    margin:0;
}

.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1em;
}

.pfp {
    height: 2.7em;
    width: 2.7em;
}

.propop {
    background-color: white;
    color: black;
    padding: .8em;
    border-radius: 20px;
    z-index: 33;
    position: absolute;
    margin-left:-6.9em;
    animation: fade-in .5s ease forwards;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    margin-right: auto;
}

.logo {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}

.srn {
    display: none;
}

a {
    text-decoration: none;
}

.formotp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
}

input {
    margin:1.5vh;
    height: 3vh;
    border:none;
    border-radius:4px;
    background-color: rgb(128, 128, 128,2.2);
    color:black;
    padding: 5px;
    font-size: 4vw;
}

button {
    width:fit-content;
    border:none;
    border-radius: 4px;
    background-color:black;
    color: var(--primary);
    font-family: 'mc';
    height: fit-content;
    padding: .6em;
    font-size: 1em;
    margin: .5em;
    border: var(--secondary) 2px solid;
}

button:active {
    background-color: var(--primary);
    color:black;
    transition: .1s;
}

input {
    margin: .3em;
    margin-bottom: 1em;
    height: 3vh;
    border:none;
    border-radius:4px;
    background-color: rgb(128, 128, 128,2.2);
    color:black;
    padding: 5px;
    font-size: 4vw;
}

::placeholder {
    color: rgb(0, 0, 0, .6);
    font-family: 'mc';
    text-align: center;
}

@font-face {
    font-family: 'mc';
    src: url(../assets/fonts/Minecrafter.Reg.ttf);
}

@media (max-width: 580px) {
    .nav { overflow: auto; }
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}