<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}">
</head>
<body>
    <form method="post">
    <div class="container">
        <div class="log">
            <h1>Login</h1>
            <label for="srn"><input name="srn" type="text" id="srn" class="srn" placeholder="SRN"></label>
            <button id="getOTP" class="get">Get OTP</button>
            <a href="http://localhost:5000/register">Register</a>
        </div>
    </div>
    </form>

    </script>
</body>
</html>
